<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starfire.familytree.sms.mapper.SmsSendinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.starfire.familytree.sms.entity.SmsSendinfo">
    <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="create_user" property="createUser" />
        <result column="edit_time" property="editTime" />
        <result column="editor" property="editor" />
        <result column="edit_user" property="editUser" />
        <result column="version" property="version" />
        <result column="valid" property="valid" />
        <result column="orderno" property="orderno" />
        <result column="error_content" property="errorContent" />
        <result column="pass_no" property="passNo" />
        <result column="priority" property="priority" />
        <result column="send_by" property="sendBy" />
        <result column="send_status" property="sendStatus" />
        <result column="send_time" property="sendTime" />
        <result column="serial_no" property="serialNo" />
        <result column="service_code" property="serviceCode" />
        <result column="user_mobile" property="userMobile" />
        <result column="sms_content" property="smsContent" />
    </resultMap>
    <select id="queryPage"  resultMap="BaseResultMap">
        select * from bs_sms_sendinfo <where>
        <if test="queryCon.userMobile!=null">
            user_mobile like CONCAT(#{queryCon.userMobile},'%')
        </if>
    </where>
    </select>

</mapper>
